PyYAML>=3.11
requests>=2.6.0
yamlordereddictloader>=0.4.0
ruamel.yaml>=0.16.12
PyGithub>=1.54
python-gitlab>=2.6.0
jira>=2.0.0
python-jenkins>=1.7.0
packaging>=20.7
beautifulsoup4>=4.9.3
tabulate~=0.8.9
python-dateutil~=2.8.1
tqdm~=4.59.0
colorlog~=4.7.2
fuzzywuzzy~=0.18.0
nestedarchive==0.2.2
python-Levenshtein==0.12.2
