PyYAML==6.0.1
requests==2.31.0
ruamel.yaml==0.17.32
PyGithub==1.59.1
python-gitlab==3.15.0
jira==3.5.2
python-jenkins==1.8.1
packaging==23.1
tabulate==0.9.0
python-dateutil==2.8.2
tqdm==4.66.1
colorlog==6.7.0
fuzzywuzzy==0.18.0
nestedarchive==0.2.4
python-Levenshtein==0.21.1
retry==0.9.2
pytest==7.4.1
networkx==3.1
insights-core>3.0.276
pyfakefs==5.2.4
slack_sdk==3.21.3
